---
import Card from "../Card.astro";
import CustomIcon from "../CustomIcon.astro";
import { getMyInfo } from "@/utils";
const my_info = await getMyInfo();
---

<Card title="ACHIEVEMENTS">
  <div class="achievements-grid">
    {my_info.achievements.map((achievement) => (
      <div><CustomIcon name="mdi:diamond-stone" size="30" /></div>
      <div>
        <div style="font-weight: bold">{achievement.title}</div>
        <div>{achievement.description}</div>
      </div>  
    ))}
  </div>
</Card>
