---
import Card from "../Card.astro";
const my_info: any = Object.values(import.meta.glob('@/my_info.json', { eager: true }))[0];
---

<Card title="ACHIEVEMENTS">
  <div class="achievements-grid">
    {my_info.achievements.map((achievement: any) => (
      <div><i class="far fa-gem fa-lg sec-color"></i></div>
      <div>
        <div style="font-weight: bold">{achievement.title}</div>
        <div>{achievement.description}</div>
      </div>  
    ))}
  </div>
</Card>
