---
import Card from "../Card.astro";
import { getCollection } from "astro:content";
const my_info = (await getCollection('myInfo'))[0].data;
---

<Card title="ACHIEVEMENTS">
  <div class="achievements-grid">
    {my_info.achievements.map((achievement) => (
      <div><i class="far fa-gem fa-lg sec-color"></i></div>
      <div>
        <div style="font-weight: bold">{achievement.title}</div>
        <div>{achievement.description}</div>
      </div>  
    ))}
  </div>
</Card>
