---
import Card from "../Card.astro";
import { getCollection } from "astro:content";
const my_info = (await getCollection('myInfo'))[0].data;
---

<Card title="COURSES">
    {my_info.courses.map((course_title) => (
      <div class="course-title">{course_title}</div>
      <hr class="dashed-line" />
    ))}
</Card>
