---
import Card from "../Card.astro";
import { getCollection } from "astro:content";
const my_info = (await getCollection('myInfo'))[0].data;
---

<Card title="SUMMARY">
    <p class="normal-text">{my_info.summary}</p>
    <hr class="dashed-line" />
</Card>
