---
import Card from "../Card.astro";
import { getMyInfo } from "@/utils";
const my_info = await getMyInfo();
--- 

<Card title="TECHNOLOGIES">
    {my_info.technologies.map((technology) => (
      <div class="secondary-color technology-title">{technology.name}</div>

      <div>
        {technology.skills.map((skill) => (
          <div class="skill-box">{skill}</div>
        ))}
      </div>

      
      <hr class="dashed-line" />
    ))}
</Card>
