@import './normilize.css';

:root {
    --primary-color: #212529;
    --secondary-color: #2563eb;
}

body {
    font-family: sans-serif;
    color: var(--primary-color);
    font-weight: 400;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.2;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.text-center {
    text-align: center !important;
}

.sec-color {
    color: var(--secondary-color);
}

.main-container {
    max-width: 835px;
    margin: auto;
    padding: 25px;

    header {
        grid-area: header;
        display: grid;
        align-items: center;
        justify-content: space-between;
        grid-template-columns: auto auto;
        grid-template-areas:
            'header-top my-pic'
            'header-bottom my-pic';

        .cv-title {
            margin: 0;
            font-size: 2.5rem;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1;
        }

        .cv-subtitle {
            color: var(--secondary-color);
            margin: 0;
            font-weight: 500;
            font-size: 1.17em;
            line-height: 1.2;
        }

        .pic-container {
            grid-area: my-pic;
            margin-right: 0;
        }

        .header-top {
            grid-area: header-top;
        }

        .my-pic {
            display: block;
            border-radius: 50%;
            width: 130px;
            height: 130px;
        }

        .main-info {
            grid-area: header-bottom;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            font-size: 0.75rem;
            font-weight: bold;

            &-cell {
                display: flex;
                align-items: center;
                gap: 2px;
            }
        }

        @media (max-width: 400px) {
            grid-template-columns: 1fr;
            grid-template-areas:
                'header-top'
                'my-pic'
                'header-bottom';
            grid-gap: 10px;
        }
    }

    .content {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-gap: 1rem;
        grid-template-areas: 'first-column second-column';
        margin-top: 1.5rem;

        .first-column {
            grid-area: first-column;
        }

        .second-column {
            grid-area: second-column;
        }

        .cv-section {
            margin-bottom: 2rem;
        }

        .grid-languages {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
            align-items: center;
        }

        .grid-education {
            display: grid;
            grid-template-columns: 60% 40%;
            align-items: center;
        }

        hr.section-underline {
            margin: 0 0 13px 0;
            border-top: 2px solid black;

            &.extra-bottom-margin {
                margin-bottom: 1.2rem;
            }
        }

        .section-title {
            margin-bottom: 0.1rem;
            font-weight: bold;
        }

        .job-title {
            font-size: 1.4rem;
        }

        .company-name {
            color: var(--secondary-color);
            font-weight: bold;
            font-size: 0.9375rem;
        }

        .company-description {
            font-size: 0.875rem;
        }

        .dashed-line {
            border-top-style: dashed;
        }

        .responsibility-list {
            font-size: 0.875rem;
            padding-left: 0px;
            list-style-type: none;
        }

        ul li:before {
            content: '\2022\00a0';
            color: #777;
        }

        .res-spandsa {
            margin-left: -0.5rem;
        }

        .job-time-location {
            font-size: 0.75rem;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
        }

        .normal-text {
            font-size: 0.875rem;
        }

        .language-dot {
            background-color: #000;
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            display: inline-block;
            margin-left: 0.5rem;
            vertical-align: middle;

            &.language-plus {
                background-color: var(--secondary-color);
            }
        }

        .language-name {
            font-weight: bold;
        }

        .course-title {
            color: var(--secondary-color);
            font-weight: bold;
            margin-top: 0.5rem;
            font-size: 0.9375rem;
        }

        .passion-icon {
            color: var(--secondary-color);
        }

        .skill-box {
            border: 1px solid #999;
            padding: 0.3rem;
            display: inline-block;
            margin: 0.25rem 0.5rem 0.25rem 0;
            font-weight: bold;
            font-size: 0.85rem;
        }

        .technology-title {
            font-size: 1.1rem;
            margin-bottom: 0.3rem;
        }

        .gpa-col {
            border-left: 1px solid #777;
        }

        .credits-block {
            text-align: right;
            font-size: 0.85rem;
            padding-bottom: 10px;
            line-height: 1.2;
            font-family: 'Comic Sans MS', cursive, sans-serif;
        }

        .achievements-grid {
            display: grid;
            grid-template-columns: 20% 80%;
        }

        .project-site {
            margin-bottom: 0.2rem;
        }

        .project-link {
            color: var(--secondary-color);
        }

        .personal-project-info {
            font-size: 0.85rem;
            display: flex;

            &-title {
                font-weight: 600;
                width: 6rem;
            }
        }

        .project-title {
            font-size: 1.25rem;
            margin-bottom: 0.5rem;
            margin-top: 0;
            font-weight: 500;
            line-height: 1.2;
        }

        @media (max-width: 700px) {
            grid-template-columns: 1fr;
            grid-template-areas:
                'first-column'
                'second-column';
        }
    }
}
