---
import { getMyInfo } from "@/utils";
import CustomIcon from "./CustomIcon.astro";
const my_info = await getMyInfo();
const fullname = `${my_info.firstname} ${my_info.lastname}`;
const dateYearAndMonth = new Date(my_info.birthday).toLocaleDateString('en-US', { year: 'numeric', month: 'long' });

---

  <header>
    <div class="header-top">
      <h1 class="cv-title">{ fullname }</h1>

      <div class="cv-subtitle">{my_info.cv_motto }</div>
    </div>

    <div class="main-info">
      <div class="main-info-cell">
        <CustomIcon name="mdi:cellphone" />
        <span class="main-info-text">{ my_info.phone }</span>
      </div>

      <div class="main-info-cell">
        <CustomIcon name="mdi:email" />
        <span class="main-info-text">{ my_info.email }</span>
      </div>

      <div class="main-info-cell">
        <CustomIcon name="mdi:map-marker" />
        <span class="main-info-text">{ my_info.living_city }</span>
      </div>

      <div class="main-info-cell">
        <CustomIcon name="mdi:cake" />
        <span class="main-info-text">{ dateYearAndMonth }</span>
      </div>
    </div>

    <div class="pic-container">
      <img class="my-pic" src="/me.jpg" alt="my pic" />
    </div>
  </header>